@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.App {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f0f0f0;
    font-family: 'Roboto', sans-serif;
    padding: 1rem .5rem;
}

.btn-primary {
    background-color: #864cff;
    border: none;
    margin-bottom: 20px;
}